@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

* {
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

:root {
	/* Brand */
	--primary: #03a8f4;
	--primary-hover: #0288d1;

	/* Backgrounds */
	--background: #ffffff;
	--surface: #f9fafb;
	--surface-alt: #f1f5f9;

	/* Text */
	--text-primary: #111827;
	--text-secondary: #4b5563;
	--text-muted: #6b7280;
}

html,
body {
	width: 100dvw;
	overflow: hidden;
	background-color: var(--background);
	color: black;
	scroll-behavior: smooth;
	font-family: "Mona Sans", sans-serif;
}

/* Toast Notifications Styles */
section[aria-label^="Notifications"] {
	position: fixed !important;
	bottom: 0rem !important;
	right: 0rem !important;
	z-index: 9999 !important;
	max-width: 100dvw !important;
}

section {
	width: 100dvw;
}

/* scrollbar styles */

.noScrollbar::-webkit-scrollbar {
	display: none !important;
}

::-webkit-scrollbar {
	height: 0.25rem;
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: #03a8f4;
	border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #03a8f477;
}

::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 9999px;
}

@theme {
	/* Colors */
	--color-primary: var(--primary);
	--color-primary-hover: var(--primary-hover);

	--color-background: var(--background);
	--color-surface: var(--surface);
	--color-surface-alt: var(--surface-alt);

	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);
	--color-text-muted: var(--text-muted);

	--color-border: var(--border);

	/* Breakpoints */
	--breakpoint-xs: 420px;
}

@layer utilities {
	.gradientButton {
		@apply bg-linear-to-r from-blue-600 to-[#03a8f4] text-white;
	}

	.gradientButtonAlternate {
		@apply bg-linear-to-r from-[#03a8f4] to-blue-600 text-white;
	}

	.gradientContainer {
		@apply bg-linear-to-r from-[#03a8f4] to-blue-600 text-white;
	}

	.gradientContainerAlternate {
		@apply bg-linear-to-r from-blue-600 to-[#03a8f4] text-white;
	}

	.hoverEffectText {
		@apply hover:bg-primary hover:text-white hover:px-4 hover:py-2 rounded-xl transition-all duration-500 transform ease-in-out  cursor-pointer;
	}

	.flexCenter {
		@apply flex items-center justify-center;
	}

	.errorMessage {
		@apply text-red-500 text-sm px-1 text-start w-full;
	}
}

@layer components {
	.input {
		@apply w-full
		border
		rounded-lg
		border-gray-300
		outline-none
		p-4
		hover:bg-gray-100
		focus:border-blue-500 focus:ring-2 focus:ring-blue-100 transition;
	}

	.button {
		@apply flex
		items-center
		justify-center
		p-4
		w-full
		max-w-md
		shadow-md
		rounded-lg
		font-medium
		text-base
		mt-4
		hover:opacity-80 transition-transform active:scale-95 cursor-pointer;
	}

	.authenticationContainer {
		@apply w-full
		h-screen
		md:w-[90vw]
		md:max-w-5xl
		md:h-[90vh]
		bg-white
		grid
		grid-cols-1
		md:grid-cols-2
		md:rounded-2xl
		md:shadow-xl
		border
		border-gray-200
		overflow-hidden;
	}
}

/* Animations */

.slideInRight {
	animation: slideInRight 1s ease-in-out;
}

.slideInLeft {
	animation: slideInLeft 1s ease-in-out;
}

/* Keyframes */
@keyframes slideInRight {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInLeft {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
